.primary-links
{
    display: inline;
}

.primary-links li
{
    display: inline;
}

.primary-links a:hover
{
    color: #800000;
}

.secondary-links
{
    display: inline;
}

.secondary-links li
{
    display: inline;
}

.block .content li
{
    display: inline;
}
